<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brush.dao.IUserDao" >

	<resultMap id="BaseResultMap" type="com.brush.pojo.User" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR" />
    	<result column="pwd" property="pwd" jdbcType="VARCHAR" />
    	<result column="email" property="email" jdbcType="VARCHAR" />
    	<result column="qq" property="qq" jdbcType="VARCHAR" />
    	<result column="roleid" property="roleid" jdbcType="INTEGER" />
    	<result column="accoutmoney" property="accoutmoney" jdbcType="FLOAT" />
  	</resultMap>
  
	<sql id="Base_Column_List">
    	id,name,pwd,email,qq,roleid,accoutmoney
  	</sql>
  
  	<select id="findUserByUp" parameterType="java.util.HashMap"  resultType="com.brush.pojo.User" >   
   		SELECT <include refid="Base_Column_List"/>
   			FROM t_user 
   				WHERE email = #{email} AND pwd = #{pwd}
   	</select>
   	
   	<select id="queryUser" parameterType="java.util.HashMap"  resultType="com.brush.pojo.User" >   
   		SELECT <include refid="Base_Column_List"/>
   			FROM t_user 
   				WHERE 1 = 1
   				 <if test="roleid != null and roleid != 0">
	                and roleid = #{roleid} 
	            </if>
	            <if test="name != null and name != ''">
	                and name = #{name} 
	            </if>
	             <if test="email != null and email != ''">
	                and email = #{email} 
	            </if>
	             <if test="qq != null and qq != ''">
	                and qq = #{qq} 
	            </if>
	            	order by roleid limit #{from},#{size}
   	</select>
   	
   	<select id="getUserCount" parameterType="java.util.HashMap"  resultType="Long" >   
   		SELECT count(id)
   			FROM t_user 
   				WHERE 1 = 1
   				 <if test="roleid != null and roleid != 0">
	                and roleid = #{roleid} 
	            </if>
	            <if test="name != null and name != ''">
	                and name = #{name} 
	            </if>
	             <if test="email != null and email != ''">
	                and email = #{email} 
	            </if>
	             <if test="qq != null and qq != ''">
	                and qq = #{qq} 
	            </if>
   	</select>
</mapper>