/*-----------------------------------bootstrap��ȡ��ʽ----------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

.navbar {
    border-radius: 3px;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    border-top: none;
    height: 45px
}

a {
    color: #1e91cf;
    text-decoration: none;
}

.pull-right {
    float: right !important;
    margin-right: 23px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 8.5px;
}

.nav > li {
    position: relative;
    display: block;
}

.dropdown-menu {
    position: absolute;
    width: 244px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.navbar .dropdown-menu {
    position: absolute;
    width: 202px;
    top: 100%;
    left: -80px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.pull-left {
    float: left !important;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 7.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 11px;
    line-height: 1.42857;
    color: #777;
    white-space: nowrap;
}

/*.pull-right > .dropdown-menu {right: 0;left: auto; }*/
.navbar-brand > img {
    display: block;
}

.btn-primary {
    color: #fff;
    background-color: #5A9DC1;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 13px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

th {
    text-align: left;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-success {
    background-color: #8fbb6c;
}

.label-success[href]:hover, .label-success[href]:focus {
    background-color: #75a74d;
}

.label-warning {
    background-color: #f38733;
}

.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #e66c0e;
}

.label-danger {
    background-color: #f56b6b;
}

.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #f23b3b;
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #5A9DC1;
    border-color: #ccc;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1872a2;
    border-color: #092a3c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1872a2;
    border-color: #115376;
}

.btn-primary .badge {
    color: #1e91cf;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #F78E8E;
    border-color: #ccc;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #f23b3b;
    border-color: #ac0c0c;
}

.btn-danger:hover {
    color: #fff;
    background-color: #f23b3b;
    border-color: #ea1010;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 3px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

/*---------------------------------------------------stylesheet��ʽ��-------------------------------------------------------------------------------------*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑, sans-serif;
    font-size: 12px;
    color: #666666;
    text-rendering: optimizeLegibility;
}

.page-header {
    vertical-align: middle;
    margin: 15px 0;
    padding: 0;
    border-bottom: none;
}

.page-header h1 {
    font-weight: 400;
    font-size: 30px;
    color: #848484;
    display: inline-block;
    margin-bottom: 15px;
}

a:hover, a:focus {
    text-decoration: none;
}

#header .nav > li {
    float: left;
}

#header i, #header a {
    vertical-align: middle;
    line-height: 38px;
}

#header .nav > li li {
    min-width: 200px;
}

#header .navbar-header {
    min-height: 0px;
    padding: 0;
}

/* Mobile */
#header #button-menu + .navbar-brand {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    height: auto;
}

#header .nav > li > a {
    padding: 5px 16px;
    line-height: 11px;
    cursor: pointer;
    color: #6D6D6D;
    border-left: 1px solid #ddd;
    display: block;
    height: 43px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#header .nav > li > a > .label {
    text-shadow: none;
    padding: 1px 4px;
    position: absolute;
    top: 8px;
    left: 6px;
}

#button-menu {
    padding: 10px 17px 9px 17px;
    line-height: 25px;
    float: left;
    display: inline-block;
    cursor: pointer;
    color: #6D6D6D;
    border-right: 1px solid #E1E1E1;
}

#column-left {
    width: 50px;
    height: 100%;
    background-color: #293846;
    top: 0px;
    z-index: 10;
    float: left;
    transition: all 0.3s;
}

#column-left.active {
    display: block;
}

#content {
    padding-bottom: 40px;
    transition: all 0.3s;
}

#column-left + #content + #footer {
    margin-left: 50px;
}

#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu {
    margin-bottom: 25px;
}

#menu > li {
    position: relative;
    /*padding-top: 5px;*/
}

#menu li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#menu li a i {
    font-size: 16px;
}

#menu > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px;
}

#menu > li > a:hover {
    background-color: #344655;
}

#menu > li > a > span {
    display: none;
    margin-left: 8px;
}

#menu li li a {
    color: #9d9d9d;

}

#menu li li a:hover {
    color: #FFFFFF;
    background-color: #556C7E;
}

#menu li li a:before {
    font-size: 14px;
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}

#menu li li a:hover:before {
    margin-right: 20px;
}

#menu > li.active > a {
    color: #DDDDDD;
    background: #344655;
}

#menu li.active li a {
    color: #C4C4C4;

}

#menu li li.active > a:last-child {
    color: #FFFFFF;
    background-color: #556C7E;

}

#menu li li.active a:last-child:before {
    margin-left: 20px;
    margin-right: 10px;
}

#menu > li > ul {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 180px;
    background-color: #3E4D5A;
    visibility: hidden;
}

#menu li ul {
    overflow: hidden;
}

#menu > li:hover > ul {
    visibility: visible;
}

#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
    font-family: FontAwesome;
    float: right;
    margin-right: 8px;
}

#menu li li.open > a.parent:after, #column-left.active #menu > li.open > a.parent:after, #column-left.active #menu > li li.open > a.parent:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
    margin-right: 8px;
}

#menu li ul a {
    padding-left: 52px;
}

#menu li li ul a {
    padding-left: 40px;
}

#menu li li li ul a {
    padding-left: 60px;
}

#menu li li li li ul a {
    padding-left: 80px;
}

/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
    #column-left.active {
        overflow: auto;
    }

    #column-left.active + #content + #footer {
        margin-left: 200px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    #column-left.active + #content {
        position: relative;
        left: 200px;
    }

    #column-left.active + #content + #footer {
        position: relative;
        left: 200px;
    }
}

#column-left.active {
    padding-top: 0px;
    width: 200px;
}

#column-left.active #menu li i {
    font-size: 13px;
}

#column-left.active #menu > li > a > span {
    display: inline;
}

#column-left.active #menu > li > ul {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    visibility: visible;
}

/* footer */
#footer {
    height: 100px;
    text-align: center;
}

/* Navs */
.nav > li.disabled > a {
    color: #999;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #999;
}

/* Tabs */
.nav-tabs > li > a {
    color: #666;
    border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs {
    margin-bottom: 25px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
    color: #333;
}

.form-control:hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
}

.radio, .checkbox {
    min-height: 18px;
}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: relative;
    width: 13px;
    width: 16px \0;
    height: 13px;
    height: 16px \0;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
}

input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
    border-color: #4d90fe;
    outline: 0;
}

input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {
    background-color: #ebebeb;
    border-color: #c6c6c6;
}

input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
    background: #fff;
}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    width: 15px;
    width: 18px \0;
    height: 15px;
    height: 18px \0;
    border-radius: 1em;
}

input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
    position: relative;
    top: 3px;
    left: 3px;
    display: block;
    width: 7px;
    height: 7px;
    content: '';
    background: #666;
    border-radius: 1em;
}

input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: none \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: none \9;
}

input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
    position: absolute;
    top: -6px;
    left: -5px;
    display: block;
}

.table thead td {
    font-weight: bold;
}

.table thead > tr > td, .table tbody > tr > td {
    vertical-align: middle;
}

.table a.asc:after {
    content: " \f107";
    font-family: FontAwesome;
    font-size: 14px;
}

.table a.desc:after {
    content: " \f106";
    font-family: FontAwesome;
    font-size: 14px;
}

.pagination {
    margin: 0;
}

.form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.form-group + .form-group {
    border-top: 1px solid #ededed;
}

/* Panels */
.panel {
    border-radius: 0px;
}

.panel .panel-heading {
    position: relative;
}

.panel-heading h3 i {
    margin-right: 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.panel-heading i {
    font-size: 16px;
    font-weight: 500;
}

.panel-heading h3 {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

/* Primary Panel */
.panel-primary {
    border: 1px solid #c3e4f6;
    border-top: 2px solid #5cb7e7;
}

.panel-primary .panel-heading {
    color: #1e91cf;
    border-color: #96d0f0;
    background: white;
}

/* Default Panel */
.panel-default {
    border: 1px solid #e8e8e8;
    border-top: 2px solid #bfbfbf;
}

.panel-default .panel-heading {
    color: #595959;
    border-color: #e8e8e8;
    background: #fcfcfc;
}

.img-thumbnail i {
    color: #FFFFFF;
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    display: inline-block;
}

.img-thumbnail.list i {
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

/* Tiles */
.tile {
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #279FE0;
    color: #FFFFFF;
    transition: all 1s;
}

.tile:hover {
    opacity: 0.95;
}

.tile a {
    color: #FFFFFF;
}

.tile-heading {
    padding: 5px 8px;
    text-transform: uppercase;
    background-color: #1E91CF;
    color: #FFF;
}

.tile .tile-heading .pull-right {
    transition: all 1s;
    opacity: 0.7;
}

.tile:hover .tile-heading .pull-right {
    opacity: 1;
}

.tile-body {
    padding: 15px;
    color: #FFFFFF;
    line-height: 48px;
}

.tile .tile-body i {
    font-size: 50px;
    opacity: 0.3;
    transition: all 1s;
}

.tile:hover .tile-body i {
    color: #FFFFFF;
    opacity: 1;
}

.tile .tile-body h2 {
    font-size: 42px;
}

.tile-footer {
    padding: 5px 8px;
    background-color: #3DA9E3;
}

#column-left.active #stats {
    display: block;
}

#stats {
    display: none;
    border-radius: 2px;
    color: #666666;
    background: #2b2b2b;
    margin: 15px 20px;
    padding: 5px 0;
}

#stats ul, #stats li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#stats li {
    font-size: 11px;
    color: #9d9d9d;
    padding: 5px 10px;
    border-bottom: 1px dotted #373737;
}

#stats div:first-child {
    margin-bottom: 4px;
}

#stats .progress {
    height: 3px;
    margin-bottom: 0;
}

.jqvmap-label {
    z-index: 999;
}

.alert {
    overflow: auto;
}

/* Menu Fix For System -> Layout -> Banner */
.collapse.in {
    display: block;
    visibility: unset;
}

.collapse {
    display: none;
    visibility: unset;
}

/* Menu Fix For System -> Layout -> Banner */
/* Fix form-group margin inside the modal */
.modal-body .form-group {
    margin: 0;
}

/* Fixed Sumernote Button Height */
.note-toolbar.panel-heading i {
    font-size: 14px;
}

/* Filemanager Folder Size */
#filemanager .fa-folder.fa-5x {
    font-size: 10.5em;
}

/*index add*/
.index_content {
    margin: auto;
    width: 100%;
    min-width: 1280px;
}

.index_right {
    float: right
}

.login {
    min-height: 100%;
    width: 100%;
}

.login .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.login #header {
    width: auto;
    min-width: 1280px;
    min-height: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #C1E0B4;
    position: relative;
    padding: 0;
    margin: auto;
!important;
}

.login .panel-default .panel-heading {
    color: #595959;
    border-color: #e8e8e8;
    background: #f5fff5;
}

.login .form-control:hover {
    border: 1px solid #b9b9b9;
    border-top-color: #C1E0B4;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.login #loginbtn {
    background-color: #8fbb6c;
    color: #ffffff;
    outline: none;
}

.login #loginbtn:hover {
    background-color: #75a74d;
}

.login .panel-default {
    border: 1px solid #e8e8e8;
    border-top: 2px solid #C1E0B4;
}

.login .userspan {
    height: 35.5px;
}

.login .panel {
    margin-top: 80px;
}

#menu > li > a:hover {
    color: #ffffff;
}

#menu li ul a {
    padding-left: 42px;
}

#menu > li > a {
    color: #C4C4C4;
    font-size: 13px;
    padding-left: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbar-brand img {
    width: 115px;
    height: 28px;
}

#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
    content: "\f105";
}

#button-menu {
    padding: 4px 17px 0 17px;
}

/*-------------------------------------font-awesome.min.css--------------------------------------------------------------------*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-lg {
    left: -1.85714286em
}

/*�����󵼺���ť*/
.fa-indent:before {
    content: "\f03c"
}

.fa-dedent:before, .fa-outdent:before {
    content: "\f03b"
}

/*��Ϣ��ť*/
.fa-bell:before {
    content: "\f0f3"
}

.fa-bell-o:before {
    content: "\f0a2"
}

.fa-bell-slash:before {
    content: "\f1f6"
}

.fa-bell-slash-o:before {
    content: "\f1f7"
}

/*��ҳ��ť*/
.fa-home:before {
    content: "\f015"
}

/*����ť*/
.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
    content: "\f1cd"
}

/*��ȫ�˳���ť*/
.fa-sign-in:before {
    content: "\f090"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-sign-out {
    margin-top: 1px;
}

/*���Ӱ�ť*/
/*.fa-search-plus:before{content:"\f00e"}*/
.fa-plus:before {
    content: "\f067"
}

/*�ؽ���ť*/
.fa-refresh:before {
    content: "\f021"
}

/*ɾ��ť*/
.fa-trash-o:before {
    content: "\f014"
}

/*���水ť*/
.fa-save:before, .fa-floppy-o:before {
    content: "\f0c7"
}

/*��¼ҳ���ͼ��*/
.fa-lock:before {
    content: "\f023"
}

.fa-user:before {
    content: "\f007"
}

.fa-group:before, .fa-users:before {
    content: "\f0c0"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-user-secret:before {
    content: "\f21b"
}

.fa-user-plus:before {
    content: "\f234"
}

.fa-user-times:before {
    content: "\f235"
}

.fa-key:before {
    content: "\f084"
}

/*�������ͼ��*/
.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080"
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-search:before {
    content: "\f002"
}
.icon-picture:after {
    content: "\f03e";
}
.icon-facetime-video:after {
      content: "\f03d";
  }

/*-------------------------------------iconfont.css--------------------------------------------------------------------*/
/*------�󵼺�ʹ�õ�����ͼ��-----*/

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1490428081349'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1490428081349#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1490428081349') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1490428081349') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1490428081349#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*----------------------------�����ʽ------------------------------------------------------*/
/*date picker CSS Begin*/
div.DatePicker {
    background: #FFF;
    width: 236px;
    height: 200px;
    text-align: center;
    position: absolute;
    z-index: 8888;
    border: 1px solid #6A84C8;
    cursor: default;
}

div.DatePicker table {
    width: 100%;
    border: 0px #cccccc solid;
    border-collapse: separate;
    border-spacing: 0px;
}

div.DatePicker a {
    height: 20px;
    color: #000;
    padding-top: 1px;
    text-decoration: none;
    display: block;
    border: 1px solid #FFF;
}

div.DatePicker tr {
    height: 20px;
}

div.DatePicker th {
    width: 26px;
    border-top: 1px solid #000000;
    background: none repeat scroll 0 0 #CAD3E8;
    border-bottom: 1px solid #000000;
}

div.DatePicker .Holi {
    color: #F00;
}

div.DatePicker .week {
    color: #00A;
    background: none repeat scroll 0 0 #CAD3E8;
    cursor: pointer;
}

div.DatePicker .Sday {
    height: 20px;
    padding-top: 1px;
    border: 1px solid #000;
    background: #FAA;
}

div.DatePicker a:hover {
    height: 20px;
    padding-top: 1px;
    border: 1px solid #000;
    background: #FAA;
}

/*-------------------------------------�޸���ʽ--------------------------------------------------------------------*/
.table_overflow {
    overflow-x: auto;
}

#content .content_header:first-child .header_left {
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    line-height: 45px
}

#content .content_header div {
    eight: 45px;
    line-height: 45px
}

input, select {
    padding-left: 5px;
    padding-right: 5px;
}

.tableraduice {
    border-radius: 5px;
    border-bottom: 1px solid #C1E0B4;
}

/*ȥ��input����Ϊnumber�ļӼ���ť*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    text-align: right;
}

img:hover {
    cursor: pointer
}

.tableinput {
    width: 5%;
}

input.tableinput {
    width: 100%;
    border: none;
}

/*��񽥱���*/

.green {
    background-color: #4de840;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: #fb3838;
}

/*�����ı��� */
.note {
    border: solid #B2CEA7 1px;
    width: 94.5%;
    height: 55px;
}

.multiselect {
    height: 30px;
    text-align: left;
}

#menu strong {
    font-size: 13px;
    font-weight: 500;
}

.toptext, .toptext a {
    height: 100%;
    line-height: 400%;

}

.toptext span {
    color: #e74c3c;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
}

.toptext img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 7px;
}

#column-left.active #menu > li > ul {
    transition: all .2s linear
}

#column-left + #content {
    margin-top: 48px;
    margin-left: 15px;
    /*width: 1210px;*/
}

#column-left {
    transition: all .1s linear;
}

.rechargebtn {
    background-color: #e74c3c;
    width: 80px;
    height: 31px;
    vertical-align: middle;
    color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #e74c3c;
    line-height: normal;
}

.rechargebtn:hover {
    background-color: red;
}

.recharge, .subbutton {
    width: 80px;
    height: 30px;
    border: 0px;
    vertical-align: middle;
    color: #FFF;
    background-color: #21a78c;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    font-size: 12px;
    line-height: normal;
}

.recharge:hover, .subbutton:hover {
    background-color: #1ab394;
}

.pagetr td {
    text-align: left;
}

.pagetr td select {
    height: 30px;
}

.navbar-brand {
    float: left;
    padding: 10px 8px;
    font-size: 15px;
    line-height: 17px;
    height: 50px;
}

.content_header {
    height: 45px;
    font-size: 14px;
    background: #eee;
    padding-left: 10px;
    color: #333;
    border-bottom: 0;
    padding-bottom: 15px;

}

.content_header:first-child {
    box-shadow: 0px 8px 20px #bbb inset;
}

.findfrom {
    padding-bottom: 10px;
    padding-top: 6px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff
}

.findfrom table {
    width: 100%;
    padding-top: 4px;
}

.header_left {
    float: left;
}

.findfrom tr td {
    padding-top: 4px;
}

.label1 {
    width: 80px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    padding-left: 10px;
}

.filter1 {
    width: 245px;
}

.laber3 {
    width: 100px;
    text-align: center
}

.input1 {
    height: 28px;
    width: 100%;
    border: 1px #ddd solid;
    border-radius: 3px;
}

.leaber_time {
    display: block;
    float: left;
    width: 80%;
    height: 28px;
    border: 1px #ddd solid;
    border-radius: 3px;
}

.leaber_time2 {
    display: block;
    float: left;
    width: 39%;
    height: 28px;
    margin-right: 0px;
    border-radius: 3px;
    border: 1px #ddd solid;
}

.time_fill {
    width: 5px;
    text-align: center;
    float: left;
    line-height: 30px;
}

.input2 {
    width: 39%;
    height: 28px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #ddd
}

.input3 {
    height: 28px;
    width: 39%;
    border: 1px #ddd solid;
    border-radius: 3px;
    margin-right: 5px;
}

.inputtime1 {
    width: 79%;
    height: 26px;
    border: 0px;
}

.timebut {
    background: url(../image/datebox_arrow.png) no-repeat scroll 2px 4px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
    float: right;
}

.tablemain {
    width: 100%
}

.list_main {
    width: 100%;
    border: 1px #ddd solid;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #ffffff
}

.list_main tr td {
    height: 25px;
    line-height: 25px;
}

.table_title {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    background: #eee
}

.list_main tr {
    height: 40px;
}

.patty_table th {
    padding-left: 10px;
    border-bottom: 1px #ddd solid;
    border-left: 1px #ddd solid;
    line-height: 30px;
    width: 6%;
    padding-top: 5px;
}

.patty_table td {
    padding-left: 10px;
    border-left: 1px #ddd solid;
    line-height: 25px;
    width: 6%;
}

.patty_table th:first-child, .patty_table td:first-child {
    border-left: none;
}

#tablegragint tbody > tr:nth-of-type(even) {
    background-color: rgba(209, 245, 219, 0.10);
}

#tablegragint tbody > tr:hover {
    background-color: #eee;
}

#header {
    width: 100%;
    min-width: 768px;
    z-index: 100;
    min-height: 0px;
    background: #FFFFFF;
    position: fixed;
    padding: 0;
    border-top: 1px solid #ddd;
}

tbody a {
    color: #333;
}

tbody a:hover {
    color: #F38733;
}

.dropdown-menu > li > a:hover {
    background-color: #F5F5F5;
}

.dropdown-menu span {
    margin-top: 13px;
}

tfoot .pagetr {
    background-color: #eee;
}

tfoot * {
    vertical-align: middle;

    padding-left: 8px;
}

tfoot input, tfoot select {
    border: none;
    background-color: #FFFFFF;
}

tfoot input {
    width: 5%;
    text-align: center;
}

#column-left.active + #content {
    margin-left: 181px;
    /*width: 1080px;*/
    margin-top: 38.89px;
}

.index_main {
    width: auto;
    height: auto;
    padding-right: 3px;
    padding-top: 5px
}

#column-left {
    position: fixed;
    z-index: 100;
    width: 0;
    overflow: hidden;
}

.important {
    font-size: 14px;
    color: #e74c3c;
}

.orderedit .label1 {
    width: 100px;
}

.filter1 .important {
    font-weight: bolder;
    font-size: 18px

}

#piliang {
    text-align: center;

}

#piliang:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #E74C3C;
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont3.eot?t=1490856826747'); /* IE9*/
    src: url('../fonts/iconfont3.eot?t=1490856826747#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont3.woff?t=1490856826747') format('woff'), /* chrome, firefox */ url('../fonts/iconfont3.ttf?t=1490856826747') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont3.svg?t=1490856826747#iconfont') format('svg'); /* iOS 4.1- */
}

.KeyWords .label1 {
    font-size: 14px;
    color: #e74c3c;
}

#key {
    width: 500px;
    margin: auto;
}

#key .label1 {
    width: 100px;
}

#key .filter1 {
    width: 400px;
}

.addkeyword {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 5px;
    cursor: pointer;
}

.open > .dropdown-menu {
    display: block;
}

/*addkeyword标题*/
.addkeywordtitle {
    text-align: center;
    color: #000000;
    font-size: 18px;
    height: 40px;
    font-weight: bolder;
}

.list_main tr td {
    border: 0px;
    border-bottom: 1px #ddd solid
}

/*红色加粗*/
.redweight {
    color: red;
    font-weight: bold;
}

/*红色加粗加大*/
.redweightbig {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

/*加粗*/
.weight {
    font-weight: bold
}

/*蓝色*/
.bluetext {
    color: blue
}

/*产品列图片大小*/
.productimg img {
    height: 40px;
    vertical-align: middle;
}

/*操作列字体图标移入变红色*/
.iconcolor a:hover {
    color: red;
}

/*-------可操作按钮 移入改变背景颜色从暗到明---------------*/
.changebgcolor {
    vertical-align: middle;
    color: #FFF;
    border-radius: 15px;
    width: 76px;
    height: 22px;
    font-size: 12px;
    line-height: 19px;
    font-weight: bold;
    margin-left: 0;
    background-color: #e74c3c;
    border: none;
    text-align: center;
    cursor: pointer;
    /*padding: 4px 10px;*/
}

.changebgcolor:hover {
    background-color: #ff0000;
}

/*状态按钮*/
.staticbtn {
    background-color: #E74C3C;
    font-weight: bold;
    height: 25px;
    width: 75px;
    line-height: 22px;
    margin-left: 0;
    margin-top: 0;
    border: none;
}

/*批量操作按钮*/
.piliang {
    font-size: 14px;
    width: 80px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 2px;
}

/*提交审核按钮*/
.subsh {
    width: 400px;
    height: 32px;
    outline: none;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

.subsh:hover {
    background-color: red
}

/*系统公告标题*/
.systemtitle {
    font-size: 13px;
    font-weight: bold;
    color: #337ab7;
    padding-left: 10px;
}

.systemtitle:hover {
    color: blue;
    text-decoration: underline;
    text-align: left;
}

/*已读灰色*/
.light-grey {
    color: #bbbbbb;
}

/*未读黑色*/
.light-black {
    color: #000;
}

/*信封图标*/
.fa-envelope-o:before {
    content: "\f003";
}

.bigger-110 {
    font-size: 110% !important;
    cursor: default;
}

/*打开信封图标*/
.fa-envelope-open-o:before {
    content: "\f2b7";
}

.fa-trash:before {
    content: "\f1f8";
    font-size: 18px;
    cursor: pointer;
    /*color: #fff;background-color: #E74C3C;width: 30px;height: 30px;font-size: 18px;line-height: 30px*/
}

.findfrompadd {
    padding-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto
}

.qqimg {
    margin-top: 4px
}

#header .pull-right:first-child {
    margin-right: 0
}

/**{font-family: 微软雅黑!important;}*/
/*#header{box-shadow: 0px 4px 60px #bbb}*/
.addkeytext {
    width: 80%;
    margin: 30px auto
}

.addkeytext textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #cccccc;
    padding: 3px;
}

/*备注弹窗*/
#cover {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
}

#message {
    width: 700px;
    border: 1px #ccc solid;
    height: 400px;
    color: #444;
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    margin: auto;
    position: absolute;
    z-index: 20000002;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#message textarea {
    width: 600px;
    margin: auto
}

#message .recharge {
    margin-top: 25px
}

#message .fa-close {
    position: relative;
    top: 20px;
    left: 320px;
    font-size: 26px;
    cursor: pointer;
    color: #444
}

#message h2 {
    margin-top: -10px
}

.fa-close:before {
    content: "\f00d";
}


button, input {
    outline: none;
}

.tongzhi {
    padding: 30px 30% 20px 30px;
    color: #333;
    font-size: medium;
}

.tongzhi > div {
    padding-left: 20px;
}

.shbtn {
    border: 0px;
    vertical-align: middle;
    color: #FFF;
    border-radius: 15px;
    cursor: pointer;
    background-color: #cccccc;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 75px;
    line-height: 22px;
    margin-left: 0;
    padding-bottom: 26px
}
.paybtn {
    border: 0px;
    vertical-align: middle;
    color: #FF0000;
    border-radius: 15px;
    cursor: pointer;
    background-color: #cccccc;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 75px;
    line-height: 22px;
    margin-left: 0;
    padding-bottom: 26px
}

.task .bbnone {
    border-bottom: 0
}

::-webkit-input-placeholder { /* Chrome */
    opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    opacity: 0.5;
}

::placeholder {
    opacity: 0.5;
}

.speed {
    width: 120px;
    height: 22px;
    position: relative;
    margin: auto;
    background-color: #fff;
    border: 1px solid #1DBE5D;
    border-radius: 15px;
    overflow: hidden;
}

.speed > div {
    width: 50%;
    height: 21px;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    background-color: #1DBE5D;
}

.speed span {
    position: absolute;
    color: #333;
    left: 47px;
    margin: auto;
    line-height: 20px;
}

.redweight15 {
    color: red;
    font-weight: bold;
    font-size: 15px
}

#orderedit {
    width: 39%;
    margin: auto;
}

#orderedit .filter1, #orderedit .filter1 .input1 {
    width: 320px;
}

.findfrompadd {
    padding-bottom: 20px;
}

.task tr td {
    height: 25px;
    line-height: 25px;
    border: 0px;
    border-bottom: 1px #ddd solid;
    font-size: 12px;
}

.task > tr {
    height: 25px;
}

.task {
    width: 100%;
    border: 1px #ddd solid;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #ffffff
}

.task .table_title {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    background: #eee
}

.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
}

.task .borderl {
    border-left: 1px solid #cccccc
}

.task .borderr {
    border-right: 1px solid #cccccc
}

.task .bbnone {
    border-bottom: 0
}

.shbtn {
    border: 0px;
    vertical-align: middle;
    color: #FFF;
    border-radius: 15px;
    cursor: pointer;
    background-color: #cccccc;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 75px;
    line-height: 22px;
    margin-left: 0;
    padding-bottom: 26px
}

.notice_title{
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
    margin: 0;
    height: 44px;
    line-height: 40px;
}
.introduction_title {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
    margin: 0;
    height: 44px;
    line-height: 40px;
}
.tongzhi {
    padding: 30px 30% 20px 30px;
    color: #333;
    font-size: medium;
}
.introduction {
    padding: 30px 30% 20px 30px;
    color: #333;
    font-size: medium;
}

.tasktitle {
    display: inline-block;
    line-height: 17px;
    text-align: left;
    overflow: hidden;
    width: 300px;
    height: 40px;
    padding-top: 6px;
    padding-left: 10px
}

td#US{height: 40px}

/*单选框*/
.redio-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    position: relative;
    background: #EEEEEE;
    /*border: 4px solid orange;*/
    border: 1px solid #BBBBBB;
    vertical-align: top;
    border-radius: 100%;
    text-align: center;
}
.redio-box input {
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}
.redio-box span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    /*background: #fff;*/
    background: #ef710e;
    top: 50%;
    left:50%;
    margin: -5px 0  0 -5px;
    z-index:1;
}
.redio-box input[type="radio"] + span {
    opacity: 0;
}
.redio-box input[type="radio"]:checked + span {
    opacity: 1;
}
td#radio label{font-weight: bold;}
td#radio  .redio-box {margin-left: 50px}
td#radio  .redio-box:first-child{margin-left: 10px}
td#radio{height: 30px;padding-top: 10px}

.Validform_checktip {
    margin-left: 8px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../image/error.png) no-repeat left center;
}

.Validform_right {
    color: #71b83d;
    padding-left: 20px;
    background: url(../image/right.png) no-repeat left center;
}
.icon-star:before {/*实心*/
    content: "\f005";
    font-family: FontAwesome;
    color: #FFBE00;
    font-style: normal;
    font-size: 18px;


}
.icon-star-empty:before {/*空心*/
    content: "\f006";
    color: #FFBE00;
    font-size: 18px;
    font-style: normal;
    font-family: FontAwesome;
}