/*
*·ÖÒ³²å¼þ
*/
#div_pager{
    clear:both;
    height:30px;
    line-height:30px;
    margin-top:20px;
    color:#999999;
}

#div_pager a{
    padding:4px 8px;
    margin:10px 3px;
    font-size:12px;
    border:1px solid #DFDFDF;
    background-color:#FFF;
    color:#9d9d9d;
    text-decoration:none;
}

#div_pager span{
    padding:4px 8px;
    margin:10px 3px;
    font-size:14px;
}

#div_pager span.disabled{
    padding:4px 8px;
    margin:10px 3px;
    font-size:12px;
    border:1px solid #DFDFDF;
    background-color:#FFF;
    color:#DFDFDF;
}

#div_pager span.curr{
    padding:4px 8px;
    margin:10px 3px;
    font-size:12px;
    border:1px solid #FF6600;
    background-color:#FF6600;
    color:#FFF;
}

#div_pager a:hover{
    background-color:#000;
    border:1px solid #FF6600;
}

#div_pager span.normalsize{
    font-size:12px;
}
.uqt_detail table tr td{
    font-size:12px;
    /*color: #999999;*/
    font-family:arial,ËÎÌå;
}